<div class="container">
	<form method="POST" class="form-signin" role="form">
		<h2 class="form-signin-heading">Please sign in</h2>
		<input type="text" class="form-control" placeholder="Username" name="name" required autofocus>
		<input type="password" class="form-control" placeholder="Password" name="password" required>
		<button class="btn btn-lg btn-primary btn-block">Login</button>
	</form>
</div><!-- /container -->